{% extends "base.html" %}

{% load i18n %} 

{% spaceless %}

{% block head %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}style/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div id="login">
    <form id="login_form" method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />

        {{ form.username.label_tag }}
        {{ form.username }}
        <br>
        {{ form.password.label_tag }}
        {{ form.password }}
        <br>
        <input type="submit" value="{% trans "log in" %}" id="submit_login"/>
        <a href="{% url registration_signin %}" title="{% trans "sign in" %}"
           class="button" id="signin">
            {% trans "sign in" %}
        </a>
    </form>
    {% if form.errors %}
    <br>
    <p class="error">
        {% trans "Your username and password didn't match. Please try again" %}.
    </p>
    {% endif %}
 </div>

{% endblock %}
{% endspaceless %}
