{% extends "base.html" %}

{% load i18n %} 

{% spaceless %}

{% block head %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}style/signin.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

<div id="content-top"></div>

<div id="content">
    <div id="signin">
        <div id="header">
            <h1>{% trans "Sign in" %}</h1>
            <a href="{% url registration_login %}" title="{% trans "back to log in page" %}">
                {% trans "back to log in" %}
            </a>
        </div>

        <form id="signin_form" method="post" action="{% url registration_signin %}">
            {% csrf_token %}

            {{ form.as_p }}

            <p><input type="submit" value="{% trans "sign in" %}" id="submit_signin"/></p>
        </form>
        <br/>
    </div>
</div>

<div id="content-bottom">
    <p id="footnote">
        Demolition &copy; 2010 Rodrigo Setti - 
        {% trans "Please submit bugs to" %}
        <a href="mailto:rodrigosetti@gmail.com">rodrigosetti@gmail.com</a>
    </p>
</div>

{% endblock %}
{% endspaceless %}
