/** RESET **/

* { 
	margin:0;
	padding:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/** Markdown style **/

/* base.css, part of YUI's CSS Foundation */
.markdown h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size:138.5%;  
}

.markdown h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size:123.1%; 
}
.markdown h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:108%;  
}
.markdown h1, .markdown h2, .markdown h3 {
	/* top & bottom margin based on font size */
	margin:1em 0;
}
.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6, .markdown strong {
	/*bringing boldness back to headers and the strong element*/
	font-weight:bold; 
}
.markdown abbr, .markdown acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
} 
.markdown em {
	/*bringing italics back to the em element*/
	font-style:italic;
}
.markdown blockquote, .markdown ul, .markdown ol, .markdown dl {
	/*giving blockquotes and lists room to breath*/
	margin:1em;
}
.markdown ol, .markdown ul, .markdown dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
.markdown ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;	
}
.markdown ul li {
	/*giving UL's LIs generated disc markers*/
	list-style: disc outside;
}
.markdown dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:1em;
}
.markdown th, .markdown td {
	/*borders and padding to make the table readable*/
	border:1px solid #000;
	padding:.5em;
}
.markdown th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:center;
}
.markdown caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
.markdown p, .markdown fieldset, .markdown table {
	/*so things don't run into each other*/
	margin-bottom:1em;
}


/******************************************************************************/

html {
    height: 100%;
}

body {
    background-color: #d3d3d3;
    font-family: Georgia, serif;
    color: #3a3a3a;
    text-align: center;
    height: 100%;
}

#content {
    background: url(../image/content-bg.png) repeat-y #c1d4e5;
    width: 746px;
    margin: 0 auto 0 auto;
    text-align: left;
    padding: 0 27px 0 27px;
    min-height: 100%;
    position:relative;
}

#wrapper {
    min-height: 100%;
}

#footnote {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
    color: #606060;
    position:absolute;
    bottom:0;
    width:100%;
}

#footnote a {
    color: #606060;
}

input {
    margin: 0 5px 0 5px;
}

.error, .loader, .work_done {
    display: none
}

input[type=text], input[type=password] {
    border: 1px solid #006;
    background: #ffc;
    color: #3a3a3a;
    font-family: Georgia, serif;
}

input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #f00;
    background: #ff6;
}


input[type=submit], .button  {
    background: url(../image/button-bg.png) repeat-x top center;
    border: 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    padding: 0 3px 0 3px;
}

input[type=submit]:hover, .button:hover {
    background: white;
}

#collapse_edit {
    cursor: pointer;
}

div#user {
    padding: 60px 20px 20px 20px;
}

#user_forms form {
    padding-top: 20px;
}

input[type=image] {
    vertical-align: middle;
}

.work_done {
    background-color: #ff6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px;
}

.warning {
    font-size: 80%;
    color: #222;
}

.error {
    margin: 10px;
    color: black;
    font-size: 80%;
    background-color: #f66;
    vertical-align: middle;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 10px;
    height: 24px;
}

.close {
    cursor: pointer;
    float: right;
}

#full_name {
    font-size: 150%;
    padding-bottom: 10px;
}

#logout {
    float: right;
}

/** Events menu styling **/
ul#events {
    list-style-type: none;
    background: url(../image/button-bg.png) repeat-x top center;
    height: 50px;
    margin: auto auto 15px auto;
    overflow: scroll;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
}

ul#events li {
    float: left
}

ul#events li a {
    border-right: 1px solid #999;
    padding-right: 12px;
    padding-left: 12px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    color: #371C1C;
}

ul#events li a:hover {
    background-color: white;
}

ul#events li a.selected {
    color: #FFF;
    background-color: #AAA;
}

/** Participation layout **/

#participation {
   padding: 0 20px 50px 20px;
}

#event_info {
    background-color: #b5cbe2;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#dates_info {
    background-color: #b5cbe2;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#dates {
    margin: 10px 0 10px 0;
}

#dates form {
    display: inline;
}

#preferences {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#companions_edit {
    background-color: #b5cbe2;
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 5px;
}

#companions {
   margin: 10px 0 10px 0;
}

#companions li form {
    display: inline;
}

#companions li {
    width: 400px;
}

#companions li img.remove {
    float: right;
}

#confirmed {
    padding: 10px 0 10px 5px;
}

/** Request invitation page layout **/

#invitation_request {
    padding-top: 50px;
    font-size: 120%;
    text-align: center;
}

p#invitation_info {
    margin-bottom: 40px
}

/** Waiting aproval layout **/

#waiting_invitation {
    padding-top: 50px;
    text-align: center;
    font-size: 120%;
}

/** Charge layout **/

#charge_info {
   margin-top: 10px;
}


