{% load humanize %}
{% load comments %}
{% load markup %}
{% load i18n %} 

{% spaceless %}

<p>
    {{ participations_count|apnumber|capfirst }}
    {% trans "participating" %}{{ participations_count|pluralize }}
    {% if persons_count > participations_count %}
        ({{ persons_count|apnumber }} {% trans "counting companions" %})
    {% endif %}
</p>
<br/>

{% if event.info %}
    <p>
    	{% trans "Event Information" %}
        <img src="{{ MEDIA_URL }}image/plus.gif" alt="+" id="collapse_event_info"
             class="collapse" onclick="return toggleeventinfo()"/>
    </p>
    <div id="event_info" class="markdown">
        {{ event.info|markdown }}
    </div>
{% endif %}

<div id="dates_info">
{%if event.confirmed %}

    {% if participation.paid %}
    <p>{% trans "Confirmed dates" %}:</p>
    <ul id="confirmed_dates">
        {% for day, ok, percentage in possible_dates %}
            {% if day.confirmed %}
            <li>
                {{ day.date|naturalday }}
                {%if ok %}
                <img src="{{ MEDIA_URL }}image/tick.gif" alt="{% trans "OK" %}" />
                {% endif %}
                <span class="datechecks">
                    {{ percentage|floatformat:-1 }}&#37;
                </span>
            </li>
            {%endif%}
        {% endfor %}
    </ul>

    {% else %}

    <p>{% trans "Please check dates you confirm to go" %}:</p>
    <form id="confirm_dates" method="post" 
          action="{% url event_save_dates event.slug %}"
          onsubmit="return savedates('{% url event_save_dates event.slug %}')">
        <ul id="dates">
            {% for day, ok, percentage in dates %}
                {% if day.confirmed %}
                <li>
                    <label for="date_{{ day.id }}">{{ day.date|naturalday }}</label>
                    <input id="date_{{ day.id }}" name="date_{{ day.id }}" 
                           type="checkbox" {%if ok %}checked="checked"{% endif %}
                           onchange="$('#submit_dates').show();$('#dates_done').hide()"/>
                    <span class="datechecks">
                        {{ percentage|floatformat:-1 }}&#37;
                    </span>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <input type="submit" id="submit_dates" value="{% trans "save" %}"
               class="hidden_submit"/>
        <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="dates_loader"/>
        <span class="work_done" id="dates_done">{% trans "saved" %}</span>
    </form>
    {% endif %}

{% else %}

    <p>{% trans "Please check dates you have avaliability to go" %}:</p>
    <form id="possible_dates" method="post" 
          action="{% url event_save_dates event.slug %}"
          onsubmit="return savedates('{% url event_save_dates event.slug %}')">
        <ul id="dates">
            {% for day, ok, percentage in dates %}
            <li>
                <label for="date_{{ day.id }}">{{ day.date|naturalday }}</label>
                <input id="date_{{ day.id }}" name="date_{{ date.id }}"
                       type="checkbox" {%if ok %}checked="checked"{% endif %}
                       onchange="$('#submit_dates').show();$('#dates_done').hide()"/>
                <span class="datechecks">
                    {{ percentage|floatformat:-1 }}&#37;
                </span>
            </li>
            {% endfor %}
        </ul>
        <p>
            <input type="submit" id="submit_dates" value="{% trans "save" %}"
                   class="hidden_submit"/>
            <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="dates_loader"/>
            <span class="work_done" id="dates_done">{% trans "saved" %}</span>
        </p>
    </form>

{% endif %}
</div>

<form id="preferences" method="post"
      action="{% url event_save_prefs event.slug %}"
      onsubmit="return participationprefs('{% url event_save_prefs event.slug %}')">
    <p>
        <label for="drinking">{% trans "Drinking" %}</label>:
        <input id="drinking" name="drinking" type="checkbox"
               {% if participation.drinking %}checked="checked"{% endif %}
               onchange="$('#submit_prefs').show();$('#prefs_done').hide()"/>

        {% if event.needs_ride %}
        <label for="self_transportation">{% trans "Self transportation" %}</label>:
        <input id="self_transportation" name="self_transportation" type="checkbox"
               {% if participation.self_transportation %}checked="checked"{% endif %}
               onchange="$('#submit_prefs').show();$('#prefs_done').hide()"/>
        <label for="offer_ride">{% trans "Offer Ride" %}</label>:
        <input id="offer_ride" name="offer_ride" type="checkbox"
               {% if participation.offer_ride %}checked="checked"{% endif %}
               onchange="$('#submit_prefs').show();$('#prefs_done').hide()"/>
        {% endif %}
    </p>
    <p>
        <input id="submit_prefs" name="submit_prefs" type="submit"
               value="{% trans "save" %}" class="hidden_submit"/>
        <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="prefs_loader"/>
        <span class="work_done" id="prefs_done">{% trans "saved" %}</span>
    </p>
</form>

<div id="companions_edit">
	<p id="companions_warning" class="warning">
        {% blocktrans %}
        Please do not add companions which are already signed in and invited to the same event.
        {% endblocktrans %}
	</p>
    <ul id="companions">
    {% for companion in companions %}
        {% include "events/companion_item.html" %}
    {% endfor %}
    </ul>
    <p>
        <a href="{% url event_add_companion event.slug %}"
           id="add_companion" class="button"
           onclick="return addcompanion('{% url event_add_companion event.slug %}')" >
            {% trans "add new companion" %}
        </a>
        <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="addcompanion_loader"/>
    </p>
</div>

{% if event.confirmed %}

<div id="confirmed">
{% if participation.paid %}
    <p id="charge_info">
        {% trans "Payment confirmed" %}: &#36;
        <span id='charge'>{{ participation.charge|floatformat:2 }}</span>
    </p>
{% else %}
	{% if event.billing_granularity > 0 %}
	<p id="billing_warning" class="warning">
        {% blocktrans %}
		Please pay the exact amount(including the cents) in order for we to 
        validate your unique payment.
        {% endblocktrans %}
	</p>
	{% endif %}
    <p id="charge_info">
        {% trans "Charge value" %}: &#36;
        <span id='charge'>{{ participation.charge|floatformat:2 }}</span>
    </p>
{% endif %}
</div>

{% endif %}

<div id="comments">
    <div id="comments_header">
        <h1>{% trans "Comments" %}</h1>

        <form id="comment_form" action="{% url comment_submit event.slug %}" method="post" 
              onsubmit="return postcomment('{% url comment_submit event.slug %}', '{% url comment_get event.slug %}')">
            <p>
                <textarea id="comment_text" name="comment_text" 
                       rows="3" cols="50">
                </textarea>
                <input type="submit" id="submit_comment" name="submit_comment"
                       value="{% trans "post comment" %}" />
            </p>
        </form>

        <p id="comments_update_wrapper">
            <a href="javascript:void(0)" title="{% trans "update comments" %}" id="comments_update"
               onclick="return updatecomments('{% url comment_get event.slug %}')" class="button">
                {% trans "update" %}
            </a>
            <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" 
                 id="comments_loader"/>
        </p> 
    </div>

    {% get_comment_list for event as comments %}

    <ul id="comment_list">
        {% include "comments/comment_list.html" %}
    </ul>
</div>


{% endspaceless %}


