{% load humanize %}
{% comment %}
{% load markup %}
{% endcomment %}

{% spaceless %}

{% if event.info %}
    <p>
    	Event Information
        <img src="{{ MEDIA_URL }}image/plus.gif" alt="+" id="collapse_event_info"
                 onclick="return toggleeventinfo()"/>
    </p>
    <div id="event_info">
        {{ event.info }}
    </div>
{% endif %}

<div id="dates_info">
{%if event.confirmed %}

    {% if participation.paid %}
    <p>Confirmed dates:</p>
    <ul id="confirmed_dates">
        {% for day in possible_dates %}
            {% if day.confirmed %}
            <li>
                {{ day.date|naturalday }}
                {%if ok %}
                <img src="{{ MEDIA_URL }}image/tick.gif" alt="OK" />
                {% endif %}
                </li>
            {%endif%}
        {% endfor %}
    </ul>

    {% else %}

    <p>Please check dates you confirm to go:</p>
    <form id="confirm_dates" method="post" 
          action="{%url demolition.events.views_post.participation_save_dates event.slug %}"
          onsubmit="return savedates('{%url demolition.events.views_post.participation_save_dates event.slug %}')">
        <ul id="dates">
            {% for day, ok in dates %}
                {% if day.confirmed %}
                <li>
                    <label for="date_{{ day.id }}">{{ day.date|naturalday }}</label>
                    <input id="date_{{ day.id }}" name="date_{{ day.id }}" 
                           type="checkbox" {%if ok %}checked{% endif %}
                           onchange="$('#submit_dates').show()"/>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        <input type="submit" id="submit_dates" value="save" class="hidden_submit"/>
        <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="dates_loader"/>
        <spam class="work_done" id="dates_done">saved</spam>
    </form>
    {% endif %}

{% else %}

    <p>Please check dates you have avaliability to go:</p>
    <form id="possible_dates" method="post" 
          action="{%url demolition.events.views_post.participation_save_dates event.slug %}"
          onsubmit="return savedates('{%url demolition.events.views_post.participation_save_dates event.slug %}')">
        <ul id="dates">
            {% for day, ok in dates %}
            <li>
                <label for="date_{{ day.id }}">{{ day.date|naturalday }}</label>
                <input id="date_{{ day.id }}" name="date_{{ date.id }}"
                       type="checkbox" {%if ok %}checked{% endif %}
                       onchange="$('#submit_dates').show()"/>
            </li>
            {% endfor %}
        </ul>
        <input type="submit" id="submit_dates" value="save" class="hidden_submit"/>
        <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="dates_loader"/>
        <spam class="work_done" id="dates_done">saved</spam>
    </form>

{% endif %}
</div>

<form id="preferences" method="post"
      action="{%url demolition.events.views_post.participation_save_prefs event.slug %}"
      onsubmit="return participationprefs('{%url demolition.events.views_post.participation_save_prefs event.slug %}')">

    <label for="drinking">Drinking</label>:
    <input id="drinking" name="drinking" type="checkbox"
           {% if participation.drinking %}checked{% endif %}
           onchange="$('#submit_prefs').show()"/>

    {% if event.needs_ride %}
    <label for="self_transportation">Self transportation</label>:
    <input id="self_transportation" name="self_transportation" type="checkbox"
           {% if participation.self_transportation %}checked{% endif %}
           onchange="$('#submit_prefs').show()"/>
    <label for="offer_ride">Offer Ride</label>:
    <input id="offer_ride" name="offer_ride" type="checkbox"
           {% if participation.offer_ride %}checked{% endif %}
           onchange="$('#submit_prefs').show()"/>
    {% endif %}

    <input id="submit_prefs" name="submit_prefs" type="submit" value="save" class="hidden_submit"/>
    <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="prefs_loader"/>
    <spam class="work_done" id="prefs_done">saved</spam>
</form>

<div id="companions_edit">
	<p id="companions_warning" class="warning">
		Please do not add companions which are already signed in and invited to the same event.
	</p>
    <ul id="companions">
    {% for companion in companions %}
        {% include "events/companion_item.html" %}
    {% endfor %}
    </ul>
    <p>
        <a href="{% url demolition.events.views_post.participation_add_companion event.slug %}"
           id="add_companion" class="button"
           onclick="return addcompanion('{% url demolition.events.views_post.participation_add_companion event.slug %}')" >
            add new companion
        </a>
        <img src="{{ MEDIA_URL }}image/loader.gif" alt="" class="loader" id="addcompanion_loader"/>
    </p>
</div>

{% if event.confirmed %}

<div id="confirmed">
{% if participation.paid %}
    <p id="charge_info">Paiment confirmed: $<spam id='charge'>{{ participation.charge|floatformat:2 }}</spam></p>  
{% else %}
	{% if event.billing_granularity > 0 %}
	<p id="billing_warning" class="warning">
		Please pay the exact amount(including the cents) in order for we to validate
		your unique payment.
	</p>
	{% endif %}
    <p id="charge_info">Charge value: $<spam id='charge'>{{ participation.charge|floatformat:2 }}</spam></p>
{% endif %}
</div>

{% endif %}

{% endspaceless %}


