<h2 class="event_title">{{ event.title }}</h2>

<p>In order to participate in this event you must get and invitation</p>

<button id="submit_invitation_req"
    onclick="requestinvitation('{% url demolition.events.views_post.invitation event.slug %}');" >
Request an invitation now
</button>

<img style="display:none" src="{{ MEDIA_URL }}image/loader.gif" alt="" 
	 class="loader" id="invitation_loader"/>

<spam style="display:none" class="work_done" id="invitation_done">
	Invitation requested, please wait for approval
</spam>
